/* Responsive Styles */



@media (max-width: 768px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .hamburger-menu {
        position: relative;
    }

    .hamburger-icon {
        cursor: pointer;
    }

    .hamburger-icon.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 8px;
    }

    .hamburger-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: -8px;
    }

    .hamburger-icon span {
        background-color: #000;
        border-radius: 2px;
        display: block;
        height: 2px;
        margin: 5px 0;
        position: relative;
        transition: all 0.3s ease-in-out;
        width: 25px;
    }

    .menu-link {
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        left: -100%;
        position: absolute;
        top: 0;
        transition: left 0.3s ease-in-out;
        width: 100%;
    }

    .menu-link.active {
        left: 0;
    }

    .menu-link ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .menu-link ul li {
        margin: 20px 0;
    }

    .menu-link ul li a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
    }

    .section__pic-container img, 
    .section-container img {
        width: 100%;
        height: auto;
    }

    .section-container {
        flex-direction: column;
        text-align: center;
    }

    .about-details-container {
        flex-direction: column;
    }

    .experience-details-container {
        padding: 10px;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-item {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-details-container {
        flex-direction: column;
    }

    .form-container, .contact-text-container {
        width: 100%;
        text-align: center;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        margin: 10px 0;
    }
}

@media (min-width: 769px) {
    #desktop-nav {
        display: flex;
    }

    #hamburger-nav {
        display: none;
    }
}
